@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

:root {
  --brand-color: #e67e22;
  --tint-brand-color: #fdf2e9;
  --shade-brand-color: #cf711f;
  --soft-grey: #ddd;
  --grey: #555;
  --dark-grey: #333;
  --border-radius-default: 9px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--grey);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.header {
  align-items: center;
  background-color: var(--tint-brand-color);
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  align-items: center;
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: var(--dark-grey);
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--shade-brand-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  background-color: var(--brand-color);
  border-radius: var(--border-radius-default);
  padding: 1.2rem 2.4rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--shade-brand-color);
}

.section-hero {
  background-color: var(--tint-brand-color);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  align-items: center;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 1.5;
}

.btn:link,
.btn:visited {
  border-radius: var(--border-radius-default);
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--brand-color);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--shade-brand-color);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: var(--grey);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--tint-brand-color);
  box-shadow: inset 0 0 0 3px #fff;
}

.delivered-meals {
  align-items: center;
  display: flex;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid var(--tint-brand-color);
  border-radius: var(--border-radius-default);
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--shade-brand-color);
  font-weight: 700;
}

.hero-img {
  width: 100%;
}

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  color: var(--soft-grey);
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.step-img {
  width: 35%;
}
